.blocks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  .block__top,
  .block__bottom {
    display: flex;
    justify-content: space-between;
  }
}
